{% extends 'panagea/__base.html' %}
{% load static %}


{% block main %}
	<main>
		<section class="hero_single version_2">
			<div class="wrapper">
				<div class="container">
					<h3>Vive tu experiencia</h3>
					<p>Cubavadis se especializa en viajes a tu medida</p>
					{% if messages %}
						<ul class="messages">
							{% for message in messages %}
								<div class="alert alert-warning alert-dismissible fade show" role="alert">
										<strong>{{ message }}</strong>
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
							{% endfor %}
						</ul>
					{% endif %}
					<form method="POST" autocomplete="off" id="form-reservacion" >{% csrf_token %}
						<div class="row no-gutters custom-search-input-2">
							<div class="col-lg-3">
								<div class="form-group">
									<input class="form-control" 
											id="autocomplete-origen"
											name="autocomplete-origen"
											autocomplete="off"
											type="text" placeholder="Ciudad de origen...">
									<i class="icon_pin_alt"></i>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<input class="form-control" 
											id="autocomplete-destino"
											name="autocomplete-destino"
											type="text" placeholder="Ciudad de destino...">
									<i class="icon_pin_alt"></i>
								</div>
							</div>
							<div class="col-lg-2">
								<div class="form-group">
									<input class="form-control" type="text" 
										id="dates"
										autocomplete="off"
										name="dates" placeholder="Cuando..">
									<i class="icon_calendar"></i>
								</div>
							</div>
							<div class="col-lg-2">
								<div class="panel-dropdown">
									<a href="#">Pasajeros <span class="qtyTotal">1</span></a>
									<div class="panel-dropdown-content">
										<!-- Quantity Buttons -->
										<div class="qtyButtons">
											<label>Adultos</label>
											<input type="text" 
													name="qtyInput" 
													id="fecha-inicio"
													value="1">
										</div>
										<div class="qtyButtons">
											<label>Niños</label>
											<input type="text" 
													name="qtyInput" 
													id="fecha-regreso"
													value="0">
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-2">
								<input type="submit" class="btn_search" id="btn_search" value="Buscar">
							</div>
						</div>
						<!-- /row -->
					</form>
				</div>
			</div>
		</section>
		<!-- /hero_single -->

		<div class="container-fluid margin_80_0">
			<div class="main_title_2">
				<span><em></em></span>
				<h2>Destinos Populares</h2>
				<p>Descubre los auténtico de nuestros destinos.</p>
			</div>
			<div id="reccomended" class="owl-carousel owl-theme">
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="#0" class="wish_bt"></a>
							<a href="#"><img src="{% static 'images/destinos-populares/capitolio-la-habana-cuba.jpg' %}" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>
							<small>Historic</small>
						</figure>
						<div class="wrapper">
							<h3><a href="#">Habana</a></h3>
							<p>Ciudad que  te invita a vivir todas las costumbres cubanas. Visítala y descubre sus maravillas.</p>
							<span class="price">From <strong>$54</strong> /per person</span>
						</div>
						<ul>
							<li><i class="icon_clock_alt"></i> 1h 30min</li>
							<li><div class="score"><span>Superb<em>350 Reviews</em></span><strong>8.9</strong></div></li>
						</ul>
					</div>
				</div>
				<!-- /item -->
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="#0" class="wish_bt"></a>
							<a href="#"><img src="{% static 'images/destinos-populares/Melia-Varadero-Beach-002.jpg' %}" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>
							<small>Churches</small>
						</figure>
						<div class="wrapper">
							<h3><a href="#">Varadero</a></h3>
							<p>Disfruta las vacaciones en el mejor destino de Sol y playa.</p>
							<span class="price">From <strong>$124</strong> /per person</span>
						</div>
						<ul>
							<li><i class="icon_clock_alt"></i> 1h 30min</li>
							<li><div class="score"><span>Good<em>350 Reviews</em></span><strong>7.0</strong></div></li>
						</ul>
					</div>
				</div>
				<!-- /item -->
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="#0" class="wish_bt"></a>
							<a href="#"><img src="{% static 'images/destinos-populares/photo-1500622944204-b135684e99fd.jpg' %}" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>
							<small>Historic</small>
						</figure>
						<div class="wrapper">
							<h3><a href="#">Viñales</a></h3>
							<p>Excelente opción para disfrutar del contacto directo con la naturaleza.</p>
							<span class="price">From <strong>$25</strong> /per person</span>
						</div>
						<ul>
							<li><i class="icon_clock_alt"></i> 1h 30min</li>
							<li><div class="score"><span>Good<em>350 Reviews</em></span><strong>7.0</strong></div></li>
						</ul>
					</div>
				</div>
				<!-- /item -->
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="#0" class="wish_bt"></a>
							<a href="#"><img src="{% static 'panagea/img/trinidad.jpg' %}" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>
							<small>Historic</small>
						</figure>
						<div class="wrapper">
							<h3><a href="#">Trinidad</a></h3>
							<p>Ciudad colonial donde respiras historia y tradiciones.</p>
							<span class="price">From <strong>$25</strong> /per person</span>
						</div>
						<ul>
							<li><i class="icon_clock_alt"></i> 1h 30min</li>
							<li><div class="score"><span>Good<em>350 Reviews</em></span><strong>7.0</strong></div></li>
						</ul>
					</div>
				</div>
				<!-- /item -->
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="#0" class="wish_bt"></a>
							<a href="#"><img src="{% static 'panagea/img/cienfuegos.jpg' %}" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>
							<small>Museum</small>
						</figure>
						<div class="wrapper">
							<h3><a href="#">Cienfuegos</a></h3>
							<p>La perla del Sur te ofrece una mezcla de experiencias autóctonas de Cuba.</p>
							<span class="price">From <strong>$45</strong> /per person</span>
						</div>
						<ul>
							<li><i class="icon_clock_alt"></i> 2h 30min</li>
							<li><div class="score"><span>Superb<em>350 Reviews</em></span><strong>9.0</strong></div></li>
						</ul>
					</div>
				</div>
				<!-- /item -->
			</div>
			<!-- /carousel -->
			<div class="container">
				<p class="btn_home_align"><a href="#" class="btn_1 rounded">Ver todos nuestros Tours</a></p>
			</div>
			<!-- /container -->
			<hr class="large">
		</div>
		<!-- /container -->
		
		<div class="container-fluid margin_30_95 pl-lg-5 pr-lg-5">
			<section class="add_bottom_45">
				<div class="main_title_3">
					<span><em></em></span>
					<h2>Tours Populares</h2>
				</div>
				<div class="row">
					<div class="col-xl-3 col-lg-6 col-md-6">
						<a href="hotel-detail.html" class="grid_item">
							<figure>
								<div class="score"><strong>8.9</strong></div>
								<img src="{% static 'autos/image4.jpg' %}" class="img-fluid" alt="">
								<div class="info">
									<div class="cat_star"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i></div>
									<h3>Tour en coche clásico</h3>
								</div>
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
					<div class="col-xl-3 col-lg-6 col-md-6">
						<a href="hotel-detail.html" class="grid_item">
							<figure>
								<div class="score"><strong>7.9</strong></div>
								<img src="{% static 'images/destinos-populares/photo-1563895868244-54dbb1585938.jpg' %}" class="img-fluid" alt="">
								<div class="info">
									<div class="cat_star"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i></div>
									<h3>Tour Playas Virgenes</h3>
								</div>
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
					<div class="col-xl-3 col-lg-6 col-md-6">
						<a href="hotel-detail.html" class="grid_item">
							<figure>
								<div class="score"><strong>7.0</strong></div>
								<img src="{% static 'images/destinos-populares/01-1140.jpg' %}" class="img-fluid" alt="">
								<div class="info">
									<div class="cat_star"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i></div>
									<h3>Excursión a Trinidad</h3>
								</div>
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
					<div class="col-xl-3 col-lg-6 col-md-6">
						<a href="hotel-detail.html" class="grid_item">
							<figure>
								<div class="score"><strong>8.9</strong></div>
								<img src="{% static 'panagea/img/tropicana.jpg' %}" class="img-fluid" alt="">
								<div class="info">
									<div class="cat_star"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i></div>
									<h3>Experiencia Cabaret Tropicana </h3>
								</div>
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
				</div>
				<!-- /row -->
				<a href="hotels-grid-isotope.html"><strong>View all (157) <i class="arrow_carrot-right"></i></strong></a>
			</section>
			<!-- /section -->
			
		</div>
		<!-- /container -->

		<div class="bg_color_1">
			<div class="container margin_80_55">
				<div class="main_title_2">
					<span><em></em></span>
					<h3>Lo que dicen nuestros clientes</h3>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<a class="box_news" href="#0">
							<figure><img src="{% static 'opinion/image3.jpg' %}" alt="">
							</figure>	
							<h4>Ha sido  una experiencia inolvidable.</h4>
							<p>Hemos podido compartir con amigos todas las actividades que hemos reservado. Recomendamos la agencia para todos los que busquen compañeros de viaje.</p>
						</a>
					</div>
					<!-- /box_news -->
					<div class="col-lg-6">
						<a class="box_news" href="#0">
							<figure><img src="{% static 'opinion/image1.jpg' %}" alt="">
							</figure>
							<h4>Mi primer viaje a Cuba y salió todo muy bien.</h4>
							<p>Destacar lo agradable que es la gente en Cuba por lo menos a nosotros nos han tratado de diez. Gracias a la agencia por brindarnos variadas opciones para disfrutar en la isla.</p>
						</a>
					</div>
					<!-- /box_news -->
					<div class="col-lg-6">
						<a class="box_news" href="#0">
							<figure><img src="{% static 'opinion/image15.jpg' %}" alt="">
							</figure>
							<h4>Viaje muy acogedor</h4>
							<p>Solo quería trasladarte nuestra felicitación por el resultado final del viaje a Cuba. Todo ha funcionado a la perfección. El recorrido ha resultado adecuado.</p>
						</a>
					</div>
					<!-- /box_news -->
					<div class="col-lg-6">
						<a class="box_news" href="#0">
							<figure><img src="{% static 'opinion/image2.jpg' %}" alt="">
							</figure>
							<h4>Hemos tenido un viaje como lo hemos planificado.</h4>
							<p>Los guías locales muy bien preparados. Cuba increible, vale la pena conocerlo, especialmente las playas.  </p>
						</a>
					</div>
					<!-- /box_news -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /bg_color_1 -->

		
		<!--/call_section-->
	</main>
	<!-- /main -->
{% endblock main %}

{% block scripts %}
	<!-- COMMON SCRIPTS -->
    <script>
	$(function() {
	  'use strict';
	  $('input[name="dates"]').daterangepicker({
		  autoUpdateInput: false,
		  minYear: 2019,
		  maxYear: 2020,
		  locale: {
			  cancelLabel: 'Cancelar',
			  applyLabel: 'Agregar'
		  }
	  });
	  $('input[name="dates"]').on('apply.daterangepicker', function(ev, picker) {
		  $(this).val(picker.startDate.format('MM-DD-YY') + ' > ' + picker.endDate.format('MM-DD-YY'));
		  console.error(picker.startDate.format('MM-DD-YY'))
		  if (picker.startDate > moment().startOf('day')){
			  console.log('Escoge un dia despues')
			} else {
			  console.log('Escoge un dia anterior')
			  toastr.error("No puedes escoger un día anterior a hoy.")
			  $(this).val('');
		  }
	  });
	  $('input[name="dates"]').on('cancel.daterangepicker', function(ev, picker) {
		  $(this).val('');
	  });

		$('#autocomplete-origen').autoComplete({
				resolver: 'custom',
				minLength: 1,
				events: {
					search: function (qry, callback) {
						$.ajax(
							"{% url 'web:places-spain-autocomplete' %}",
							{
								data: { 'q': qry}
							}
						).done(function (res) {
							callback(res.results)
						});
					}
				}
			});

		$('#autocomplete-destino').autoComplete({
			resolver: 'custom',
			minLength: 1,
			events: {
				search: function (qry, callback) {
					$.ajax(
						"{% url 'web:places-cuba-autocomplete' %}",
						{
							data: { 'q': qry}
						}
					).done(function (res) {
						callback(res.results)
					});
				}
			}
		});
		
		$('#btn_search').click(function(e){
			e.preventDefault();
			if ($('#autocomplete-origen').val() === ""){
				toastr.error("Escoge una ciudad de origen en España!")
				$('#autocomplete-origen').focus()
				return false;
			} 
			if ($('#autocomplete-destino').val() === ""){
				toastr.error("Escoge una ciudad de destino en Cuba!")
				$('#autocomplete-destino').focus()
				return false;
			} 
			$('#form-reservacion').submit();

			return false;
			$.post("{% url 'web:send_form_vuelos' %}", $(this).serialize())
				.success(function(r){
					console.log(r)
				})
				.fail(function(e){
					console.error(e);
				})
		})
		
		$('form input').keydown(function (e) {
			if (e.keyCode == 13) {
				var inputs = $(this).parents("form").eq(0).find(":input");
				if (inputs[inputs.index(this) + 1] != null) {
					inputs[inputs.index(this) + 1].focus();
				}
				e.preventDefault();
				return false;
			}
		});
	});
	</script>
{% endblock scripts %}