{% extends '_base.html' %}
{% load static %}

{% block carrousel %}
<section class="section-height-mac context-dark">
    <div data-on="false" data-md-on="true" class="rd-parallax">
        <div data-speed="0.25" data-type="media" data-url="{% static 'images/1920x900.jpg' %}" class="rd-parallax-layer"></div>
        <div data-speed="0" data-type="html" data-md-fade="false" class="rd-parallax-layer">
        <div class="bg-overlay-darker">
            <div class="shell section-34 section-md-100 section-lg-top-170 section-lg-bottom-165">
            <h1 class="veil reveal-md-inline-block">Our Blog</h1>
            <div class="offset-top-4">
                <h6 class="text-italic">Latest News in Travel and Tourism</h6>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>
{% endblock carrousel %}

{% block contents %}
<section class="section-80 bg-wild-wand">
    <div class="shell">
    <div class="range range-xs-center">
        <div class="cell-sm-11 cell-md-9 cell-md-push-1">
        <div class="range range-xs-justify">
            <div class="cell-sm-6 cell-sm-3 text-sm-left">
            <div class="reveal-inline-block inset-sm-left-20 inset-md-left-0">
                <div class="pull-left inset-right-10">
                <p class="text-extra-small text-uppercase text-gray-base">Sort By:</p>
                </div>
                <div class="pull-right shadow-drop-xs reveal-inline-block select-xs">
                <select data-minimum-results-for-search="Infinity" data-constraints="@Required" class="form-control select-filter">
                    <option value="2">Newest</option>
                    <option value="3">Eldest</option>
                </select>
                </div>
                <div class="clearfix"></div>
            </div>
            </div>
            <div class="cell-sm-6 cell-sm-3 offset-top-20 offset-sm-top-0 text-sm-right">
            <div class="reveal-inline-block inset-sm-right-20 inset-md-right-0">
                <div class="pull-left inset-right-10">
                <p class="text-extra-small text-uppercase text-gray-base">View:</p>
                </div>
                <div class="pull-right">
                <ul class="list-inline list-primary-filled text-center">
                    <li><a href="blog-list-sidebar-left.html" class="shadow-drop-lg"><span class="icon icon-sm icon-square bg-white mdi mdi-view-stream text-silver"></span></a></li>
                    <li><a href="blog-list-variant-2-sidebar-left.html" class="shadow-drop-lg"><span class="icon icon-sm icon-square bg-primary mdi mdi-format-list-bulleted text-white"></span></a></li>
                    <li><a href="blog-grid-sidebar-left.html" class="shadow-drop-lg"><span class="icon icon-sm icon-square bg-white mdi mdi-view-module text-silver"></span></a></li>
                </ul>
                </div>
            </div>
            </div>
        </div>
        <div class="range range-xs-center range-sm-justify offset-top-50 offset-md-top-25">
            <div class="cell-xs-8 cell-sm-6 cell-lg-12">
            <div class="post-box post-box-wide post-blog-left text-left">
                <div class="post-box-img-wrap"><a href="blog-single-post-sidebar-left.html"><img src="{% static 'images/270x315.jpg' %}" width="270" height="315" alt=""/></a></div>
                <div class="post-box-caption">
                <div class="post-box-title h5 text-ubold"><a href="blog-single-post-sidebar-left.html" class="text-gray-base">Dubai: The Las Vegas of the Middle East?</a></div>
                <ul class="list-inline post-box-meta list-inline-dashed list-inline-dashed-sm text-extra-small text-silver-chalice offset-top-4 offset-lg-top-0">
                    <li class="text-uppercase">
                        <img src="{% static 'images/icon-16-16x15.png' %}" width="16" height="15" alt=""/>
                        <span class="text-middle inset-left-10">JUNE 20, 2016</span>
                    </li>
                    <li class="text-bottom p text-uppercase">
                        <img src="{% static 'images/icon-17-16x15.png' %}" width="16" height="15" alt=""/>
                        <span class="inset-left-10">by <a href="testimonials.html">EMMA STONE</a></span>
                    </li>
                </ul>
                <div class="offset-top-12 offset-lg-top-4">
                    <p class="text-small text-silver-chalice">Dubai. It’s a city that conjures up images of Vegas-like glitz (minus the gambling and drinking). Before visiting last month, my friends painted a picture of a city hot, filled with malls and expensive stores, restaurants, lots of expats, and...</p>
                </div>
                <div class="offset-top-25 offset-lg-top-15"><a href="blog-single-post-sidebar-left.html" class="btn btn-primary btn-width-110">Read More</a></div>
                </div>
            </div>
            </div>
            <div class="cell-xs-8 cell-sm-6 cell-lg-12 offset-top-30 offset-sm-top-0 offset-lg-top-30">
            <div class="post-box post-box-wide post-blog-left text-left">
                <div class="post-box-img-wrap"><a href="blog-single-post-sidebar-left.html"><img src="{% static 'images/270x315.jpg' %}" width="270" height="315" alt=""/></a></div>
                <div class="post-box-caption">
                <div class="post-box-title h5 text-ubold"><a href="blog-single-post-sidebar-left.html" class="text-gray-base">How to Find the Best Travel Deals</a></div>
                <ul class="list-inline post-box-meta list-inline-dashed list-inline-dashed-sm text-extra-small text-silver-chalice offset-top-4 offset-lg-top-0">
                    <li class="text-uppercase"><img src="{% static 'images/icon-16-16x15.png' %}" width="16" height="15" alt=""/><span class="text-middle inset-left-10">JUNE 20, 2016</span></li>
                    <li class="text-bottom p text-uppercase">
                        <img src="{% static 'images/icon-17-16x15.png' %}" width="16" height="15" alt=""/>
                        <span class="inset-left-10">by <a href="testimonials.html">EMMA STONE</a></span>
                    </li>
                </ul>
                <div class="offset-top-12 offset-lg-top-4">
                    <p class="text-small text-silver-chalice">A lot of people think travel is just plain expensive, but in reality there are incredible deals happening all the time. They usually don’t last too long, and you have to act quickly. That can sometimes be a problem when a deal requires...</p>
                </div>
                <div class="offset-top-25 offset-lg-top-15"><a href="blog-single-post-sidebar-left.html" class="btn btn-primary btn-width-110">Read More</a></div>
                </div>
            </div>
            </div>
            <div class="cell-xs-8 cell-sm-6 cell-lg-12 offset-top-30">
            <div class="post-box post-box-wide post-blog-left text-left">
                <div class="post-box-img-wrap"><a href="blog-single-post-sidebar-left.html"><img src="{% static 'images/270x315.jpg' %}" width="270" height="315" alt=""/></a></div>
                <div class="post-box-caption">
                <div class="post-box-title h5 text-ubold"><a href="blog-single-post-sidebar-left.html" class="text-gray-base">Planning a Trip to a Place Where You’ve Never Been</a></div>
                <ul class="list-inline post-box-meta list-inline-dashed list-inline-dashed-sm text-extra-small text-silver-chalice offset-top-4 offset-lg-top-0">
                    <li class="text-uppercase"><img src="{% static 'images/icon-16-16x15.png' %}" width="16" height="15" alt=""/><span class="text-middle inset-left-10">JUNE 20, 2016</span></li>
                    <li class="text-bottom p text-uppercase"><img src="{% static 'images/icon-17-16x15.png' %}" width="16" height="15" alt=""/><span class="inset-left-10">by <a href="testimonials.html">EMMA STONE</a></span></li>
                </ul>
                <div class="offset-top-12 offset-lg-top-4">
                    <p class="text-small text-silver-chalice">While I have no intention of ever planning trips day-by-day, I never like to go somewhere blind — it’s a sure-fire way to get ripped off, eat the wrong thing, get sick etc. Knowledge is power, and given that so much information about...</p>
                </div>
                <div class="offset-top-25 offset-lg-top-15"><a href="blog-single-post-sidebar-left.html" class="btn btn-primary btn-width-110">Read More</a></div>
                </div>
            </div>
            </div>
            <div class="cell-xs-8 cell-sm-6 cell-lg-12 offset-top-30">
            <div class="post-box post-box-wide post-blog-left text-left">
                <div class="post-box-img-wrap"><a href="blog-single-post-sidebar-left.html"><img src="{% static 'images/270x315.jpg' %}" width="270" height="315" alt=""/></a></div>
                <div class="post-box-caption">
                <div class="post-box-title h5 text-ubold"><a href="blog-single-post-sidebar-left.html" class="text-gray-base">How to Choose Your Ideal Travel Destination</a></div>
                <ul class="list-inline post-box-meta list-inline-dashed list-inline-dashed-sm text-extra-small text-silver-chalice offset-top-4 offset-lg-top-0">
                    <li class="text-uppercase">
                        <img src="{% static 'images/icon-16-16x15.png' %}" width="16" height="15" alt=""/>
                        <span class="text-middle inset-left-10">JUNE 20, 2016</span>
                    </li>
                    <li class="text-bottom p text-uppercase">
                        <img src="{% static 'images/icon-17-16x15.png' %}" width="16" height="15" alt=""/>
                        <span class="inset-left-10">by <a href="testimonials.html">EMMA STONE</a></span>
                    </li>
                </ul>
                <div class="offset-top-12 offset-lg-top-4">
                    <p class="text-small text-silver-chalice">You have vacation days coming up? Finally! You have been dreaming of taking holidays for long. Now it is here, finally, you are ready to escape the office… but where should you go? It does not happen every day, so you want to find the...</p>
                </div>
                <div class="offset-top-25 offset-lg-top-15"><a href="blog-single-post-sidebar-left.html" class="btn btn-primary btn-width-110">Read More</a></div>
                </div>
            </div>
            </div>
            <div class="cell-xs-8 cell-sm-6 cell-lg-12 offset-top-30">
                <div class="post-box post-box-wide post-blog-left text-left">
                    <div class="post-box-img-wrap"><a href="blog-single-post-sidebar-left.html">
                        <img src="{% static 'images/270x315.jpg' %}" width="270" height="315" alt=""/></a></div>
                    <div class="post-box-caption">
                        <div class="post-box-title h5 text-ubold"><a href="blog-single-post-sidebar-left.html" class="text-gray-base">SunTravel Experience: 72 Hours in Toronto</a></div>
                        <ul class="list-inline post-box-meta list-inline-dashed list-inline-dashed-sm text-extra-small text-silver-chalice offset-top-4 offset-lg-top-0">
                            <li class="text-uppercase">
                                <img src="{% static 'images/icon-16-16x15.png' %}" width="16" height="15" alt=""/><span class="text-middle inset-left-10">JUNE 20, 2016</span></li>
                            <li class="text-bottom p text-uppercase">
                                <img src="{% static 'images/icon-17-16x15.png' %}" width="16" height="15" alt=""/><span class="inset-left-10">by <a href="testimonials.html">EMMA STONE</a></span></li>
                        </ul>
                        <div class="offset-top-12 offset-lg-top-4">
                            <p class="text-small text-silver-chalice">With an expansive lakefront, bustling business district and renowned entertainment scene, Toronto shines in summer. If you are planning a trip to Toronto, use these five tips for hidden secrets from a local and make your...</p>
                        </div>
                        <div class="offset-top-25 offset-lg-top-15">
                            <a href="blog-single-post-sidebar-left.html" class="btn btn-primary btn-width-110">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-xs-8 cell-sm-6 cell-lg-12 offset-top-30">
            <div class="post-box post-box-wide post-blog-left text-left">
                <div class="post-box-img-wrap">
                    <a href="blog-single-post-sidebar-left.html">
                        <img src="{% static 'images/270x315.jpg' %}" width="270" height="315" alt=""/>
                    </a>
                </div>
                <div class="post-box-caption">
                    <div class="post-box-title h5 text-ubold">
                        <a href="blog-single-post-sidebar-left.html" class="text-gray-base">Is It Possible to Travel Too Much?</a>
                    </div>
                    <ul class="list-inline post-box-meta list-inline-dashed list-inline-dashed-sm text-extra-small text-silver-chalice offset-top-4 offset-lg-top-0">
                        <li class="text-uppercase">
                            <img src="{% static 'images/icon-16-16x15.png' %}" width="16" height="15" alt=""/>
                            <span class="text-middle inset-left-10">JUNE 20, 2016</span></li>
                        <li class="text-bottom p text-uppercase"><img src="{% static 'images/icon-17-16x15.png' %}" width="16" height="15" alt=""/><span class="inset-left-10">by <a href="testimonials.html">EMMA STONE</a></span></li>
                    </ul>
                    <div class="offset-top-15">
                        <p class="text-small text-silver-chalice">There are people who love to travel and then there’s you. You take traveling to a whole other level and here are some signs that you may travel a bit too much. For example, some people scoff at the idea of not sleeping in your own bed...</p>
                    </div>
                <div class="offset-top-25 offset-lg-top-15"><a href="blog-single-post-sidebar-left.html" class="btn btn-primary btn-width-110">Read More</a></div>
                </div>
            </div>
            </div>
        </div>
        <div class="offset-top-50">
            <nav>
            <ul class="pagination-classic">
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">12</a></li>
            </ul>
            </nav>
        </div>
        </div>
        <div class="cell-sm-11 cell-md-3 offset-top-50 offset-md-top-0 text-md-left">
        <aside class="blog-aside box box-xs reveal-block bg-white">
            <p class="text-gray-base text-ubold text-uppercase text-spacing-200">Search</p>
            <div class="offset-top-20">
            <form action="search-results.html" method="GET" class="form-blog-search form-blog-search-type-2 form-search rd-search">
                <button type="submit" class="form-search-submit"><span class="fa fa-search"></span></button>
                <div class="form-group form-group-xs">
                <label for="blog-sidebar-form-search-widget" class="form-label form-search-label form-label-sm">Enter your request</label>
                <input id="blog-sidebar-form-search-widget" type="text" name="s" autocomplete="off" class="form-search-input input-sm form-control input-sm">
                </div>
            </form>
            </div>
            <div class="offset-top-40">
            <hr class="hr bg-gallery">
            </div>
            <div class="offset-top-35">
            <p class="text-gray-base text-ubold text-uppercase text-spacing-200">Categories</p>
            <div class="offset-top-20">
                <ul class="list list-1 list-modern">
                <li class="text-small"><a href="#" class="text-silver-chalice"><span class="pull-left">Family (26)</span><span class="pull-right text-ubold icon mdi mdi-chevron-right"></span><span class="clearfix"></span></a></li>
                <li class="text-small"><a href="#" class="text-silver-chalice"><span class="pull-left">Adventure (66)</span><span class="pull-right text-ubold icon mdi mdi-chevron-right"></span><span class="clearfix"></span></a></li>
                <li class="text-small"><a href="#" class="text-silver-chalice"><span class="pull-left">Romantic (59)</span><span class="pull-right text-ubold icon mdi mdi-chevron-right"></span><span class="clearfix"></span></a></li>
                <li class="text-small"><a href="#" class="text-silver-chalice"><span class="pull-left">Wildlife (55)</span><span class="pull-right text-ubold icon mdi mdi-chevron-right"></span><span class="clearfix"></span></a></li>
                <li class="text-small"><a href="#" class="text-silver-chalice"><span class="pull-left">Beach (89)</span><span class="pull-right text-ubold icon mdi mdi-chevron-right"></span><span class="clearfix"></span></a></li>
                <li class="text-small"><a href="#" class="text-silver-chalice"><span class="pull-left">Honeymoon (27)</span><span class="pull-right text-ubold icon mdi mdi-chevron-right"></span><span class="clearfix"></span></a></li>
                <li class="text-small"><a href="#" class="text-silver-chalice"><span class="pull-left">Island (45)</span><span class="pull-right text-ubold icon mdi mdi-chevron-right"></span><span class="clearfix"></span></a></li>
                </ul>
            </div>
            <div class="offset-top-30">
                <hr class="hr bg-gallery">
            </div>
            <div class="offset-top-30">
                <p class="text-gray-base text-ubold text-uppercase text-spacing-200">Tags</p>
                <div class="group group-xs btn-tags offset-top-25 text-left">
                    <a href="#" class="btn btn-sm btn-gray">Travel</a>
                    <a href="#" class="btn btn-sm btn-gray">Adventure</a>
                    <a href="#" class="btn btn-sm btn-gray">Relax</a>
                    <a href="#" class="btn btn-sm btn-gray">Brasil</a>
                    <a href="#" class="btn btn-sm btn-gray">Trip</a>
                    <a href="#" class="btn btn-sm btn-gray">Honeymoon</a>
                    <a href="#" class="btn btn-sm btn-gray">Promotions</a>
                    <a href="#" class="btn btn-sm btn-gray">North America</a>
                </div>
            </div>
            </div>
        </aside>
        </div>
    </div>
    </div>
</section>
{% endblock contents %}