{% extends '_base.html' %}
{% load i18n %}
{% load static %}


{% block styles %}
  <link rel="stylesheet" href="{% static 'css/datepicker.min.css' %}?">
{% endblock styles %}

{% block carrousel %}
<section class="section-height-mac context-dark">
    <div data-on="false" data-md-on="true" class="rd-parallax">
      <div data-speed="0.25" data-type="media" data-url="{% static 'images/home/playa_rio_1280x800x1.jpg' %}" class="rd-parallax-layer"></div>
      <div data-speed="0" data-type="html" data-md-fade="false" class="rd-parallax-layer">
        <div class="bg-overlay-darker">
          <div class="shell section-34 section-md-100 section-lg-top-170 section-lg-bottom-165">
            <h1 class="veil reveal-md-inline-block">{% trans 'Buscador de Vuelos' %}</h1>
            <div class="offset-top-4">
              <h6 class="text-italic">Here are the most relevant search results according to your request</h6>
            </div>
            <div class="range range-xs-center offset-top-30">
              <div class="cell-sm-12 cell-lg-10">
                <form method="GET" class="form-search-results form-search rd-search">
                    {% csrf_token %}
                  <button type="submit" class="form-search-submit"><span class="fa fa-search"></span>Buscar</button>
                  <div class="form-group form-group-xs">
                    <input id="search-results-form-search-widget-1" type="text" name="s" 
                        autocomplete="off" 
                        data-provide="typeahead"
                        placeholder="Origen"
                        class="form-search-input form-control input-sm typeahead">
                    <input id="search-results-form-search-widget-1" type="text" name="s" 
                          autocomplete="off" 
                          placeholder="Destino"
                          class="form-search-input form-control input-sm">
                    <input id="search-date-start" type="text" name="s" 
                          autocomplete="off" 
                          data-toggle="datepicker"
                          placeholder="Fecha Inicio"
                          class="form-search-input form-control input-sm">
                    <input id="search-date-end" type="text" name="s" 
                          autocomplete="off" 
                          data-toggle="datepicker"
                          placeholder="Fecha Final"
                          class="form-search-input form-control input-sm">
                    <input id="search-date-end" type="text" name="s" 
                          autocomplete="off" 
                          class="form-search-input form-control input-sm">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock carrousel %}

{% block contents %}
<section class="section-80 bg-wild-wand">
    <div class="shell">
      <div class="rd-search-results">
        <div id="search-results">
          <ol class="search_list">
            <li class="result-item">
              <h5 class="search_title"><a target="_top" href="careers.html" class="search_link">Careers</a></h5>
              <p>...e a part of Sun<span class="search">Travel</span> Tour Consultant Junior <span class="search">Travel</span> Agent Marketing Executive Senior Business <span class="search">Travel</span> Consultant Customer Service Consultant S...</p>
              <p class="match"><em>Terms matched: 66 - URL: careers.html</em></p>
            </li>
            <li class="result-item">
              <h5 class="search_title"><a target="_top" href="faq.html" class="search_link">FAQ</a></h5>
              <p>...uld I use your <span class="search">travel</span> agency? How do I pay for my reservations and hotel stay? Are there any other costs or fees? Do I have to pay in full st...</p>
              <p class="match"><em>Terms matched: 22 - URL: faq.html</em></p>
            </li>
            <li class="result-item">
              <h5 class="search_title"><a target="_top" href="our-team.html" class="search_link">Our Team</a></h5>
              <p>...ssionate about <span class="search">travel</span>ing John Richardson FOUNDER &amp; MANAGING DIRECTOR A successful business owner, social entrepreneur, and business strategis...</p>
              <p class="match"><em>Terms matched: 19 - URL: our-team.html</em></p>
            </li>
            <li class="result-item">
              <h5 class="search_title"><a target="_top" href="about.html" class="search_link">About Us</a></h5>
              <p>... More About Sun<span class="search">Travel</span> <span class="search">Travel</span>ing. Tours. Adventure. We are committed to offering <span class="search">travel</span> services of the highest quality, combining our energy ...</p>
              <p class="match"><em>Terms matched: 19 - URL: about.html</em></p>
            </li>
            <li class="result-item">
              <h5 class="search_title"><a target="_top" href="press.html" class="search_link">Press</a></h5>
              <p>...perienced.” #<span class="search">travel</span>ling #trip #awesome # agency Nickie johnson “My trip was absolutely fantastic...the best hotels, <span class="search">travel</span> guides, buses ...</p>
              <p class="match"><em>Terms matched: 17 - URL: press.html</em></p>
            </li>
            <li class="result-item">
              <h5 class="search_title"><a target="_top" href="index.html" class="search_link">SunTravel</a></h5>
              <p>...Dream Vacation <span class="search">Travel</span> to the any corner of the world, without going around in circles. Your Destination Arrival Departure Your Budget ($) Sea...</p>
              <p class="match"><em>Terms matched: 14 - URL: index.html</em></p>
            </li>
            <li class="result-item">
              <h5 class="search_title"><a target="_top" href="services.html" class="search_link">Services</a></h5>
              <p>...v2 Services Sun<span class="search">Travel</span> offers a variety of services to our customers Our Services We offer the best services for your pleasure! <span class="search">Travel</span> Agent C...</p>
              <p class="match"><em>Terms matched: 13 - URL: services.html</em></p>
            </li>
            <li class="result-item">
              <h5 class="search_title"><a target="_top" href="blog-list-variant-2.html" class="search_link">Blog List Variant 2</a></h5>
              <p>...Latest News in <span class="search">Travel</span> and Tourism Sort By: Newest Eldest View: Dubai: The Las Vegas of the Middle East? JUNE 20, 2016 by EMMA STONE Dubai. It...</p>
              <p class="match"><em>Terms matched: 12 - URL: blog-list-variant-2.html</em></p>
            </li>
            <li class="result-item">
              <h5 class="search_title"><a target="_top" href="blog-list-variant-2-sidebar-left.html" class="search_link">Blog List Variant 2 Sidebar</a></h5>
              <p>...Latest News in <span class="search">Travel</span> and Tourism Sort By: Newest Eldest View: Dubai: The Las Vegas of the Middle East? JUNE 20, 2016 by EMMA STONE Dubai. It...</p>
              <p class="match"><em>Terms matched: 12 - URL: blog-list-variant-2-sidebar-left.html</em></p>
            </li>
            <li class="result-item">
              <h5 class="search_title"><a target="_top" href="testimonials.html" class="search_link">Testimonials</a></h5>
              <p>...s an excellent <span class="search">Travel</span> Agent for us and considered our unique needs as she planned our itinerary. Her every suggestion was excellent.” from ...</p>
              <p class="match"><em>Terms matched: 11 - URL: testimonials.html</em></p>
            </li>
            <li class="result-item">
              <h5 class="search_title"><a target="_top" href="index-variant-2.html" class="search_link">Home Variant 2</a></h5>
              <p>...s From 9 Sun<span class="search">Travel</span> provides a vast range of affordable airline tickets. Find your ticket France Tours From 9 Take your chance to visit ...</p>
              <p class="match"><em>Terms matched: 11 - URL: index-variant-2.html</em></p>
            </li>
            <li class="result-item">
              <h5 class="search_title"><a target="_top" href="blog-grid.html" class="search_link">Blog Grid</a></h5>
              <p>...Latest News in <span class="search">Travel</span> and Tourism Sort By: Newest Eldest View: Dubai: The Las Vegas of the Middle East? JUNE 20, 2016 by EMMA STONE How to Fi...</p>
              <p class="match"><em>Terms matched: 11 - URL: blog-grid.html</em></p>
            </li>
            <li class="result-item">
              <h5 class="search_title"><a target="_top" href="blog-single-post-sidebar-left.html" class="search_link">Blog Single Post Sidebar</a></h5>
              <p>...ose Your Ideal <span class="search">Travel</span> Destination JUNE 20, 2016 by EMMA STONE How to Find the Best <span class="search">Travel</span> Deals JUNE 20, 2016 by EMMA STONE Planning a Trip t...</p>
              <p class="match"><em>Terms matched: 6 - URL: blog-single-post-sidebar-left.html</em></p>
            </li>
            <li class="result-item">
              <h5 class="search_title"><a target="_top" href="503.html" class="search_link">503</a></h5>
              <p>... been offering <span class="search">travel</span> services of the highest quality, combining our energy and enthusiasm. Follow Us Subscribe × Subscribe to our newslette...</p>
              <p class="match"><em>Terms matched: 2 - URL: 503.html</em></p>
            </li>
            <li class="result-item">
              <h5 class="search_title"><a target="_top" href="privacy.html" class="search_link">Privacy Policy</a></h5>
              <p>... been offering <span class="search">travel</span> services of the highest quality, combining our energy and enthusiasm. Follow Us Subscribe × Subscribe to our newslette...</p>
              <p class="match"><em>Terms matched: 2 - URL: privacy.html</em></p>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>
{% endblock contents %}

{% block scripts %}
<script src="{% static 'js/typeahead.bundle.min.js' %}"></script>
<script src="{% static 'js/datepicker.min.js' %}"></script>
<script>
    $(function(){
      // https://github.com/fengyuanchen/datepicker
      $('[data-toggle="datepicker"]').datepicker();

      var substringMatcher = function(strs) {
      return function findMatches(q, cb) {
        var matches, substringRegex;

        // an array that will be populated with substring matches
        matches = [];

        // regex used to determine if a string contains the substring `q`
        substrRegex = new RegExp(q, 'i');

        // iterate through the pool of strings and for any string that
        // contains the substring `q`, add it to the `matches` array
        $.each(strs, function(i, str) {
          if (substrRegex.test(str)) {
            matches.push(str);
          }
        });

        cb(matches);
      };
    };

    var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
      'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
      'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
      'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
      'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
      'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
      'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
      'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
      'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
    ];

    var $input = $(".typeahead");
      $input.typeahead({
       
      hint: true,
      highlight: true,
      minLength: 1
    },
    {
      name: 'states',
      source: substringMatcher(states)
    });


    })


    




  </script>
 
{% endblock scripts %}